<div data-role="page" id="logPage">
	<header data-role="header">  
   	<h1>Log <span class="var_tknum"></span></h1>  
	<a data-rel="back" data-role="button" data-theme="a" data-icon="arrow-l" data-inline="true" class="back-button">Back</a>
   </header>

   <div data-role="content">
     <p id="var_log">The log has not yet been updated.</p>
	 <form id="logForm" method="post">
		<input id="tknum" type="hidden" value="">
		<textarea name="logtext" id="logtext"></textarea>
		<button type="submit" data-theme="b" name="submit" value="submit-value">Save</button>
     </form>
   </div>

</div>