

<div data-role="page" id="detailPage">	  
   <header data-role="header" data-position="inline">  
   	<h1>Shipment</h1>  
	<a data-role="button" data-rel="back" data-theme="a" data-icon="arrow-l" data-inline="true" class="back-button">Back</a>
	<a id="logButton" href="#logPage" data-icon="grid" class="ui-btn-right">Log</a>
   </header>
  
   <div data-role="content">  
   	 <ul id="itemlist2" data-role="listview" data-theme="c">  
		<li data-role="list-divider">Details</li>
		<li><p>Shipment: <span id="shipment"></span> </p>
		    <p>Carrier: <span id="carrier"></span> </p>
		    <p>Route: <span id="route"></span> </p></li>
		
		<li data-role="list-divider">Shipment Status</li>
		<li><div class="ui-grid-a">
				<div class="ui-block-a">
					Realization times
				</div>
				<div class="ui-block-b"></div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a">
				<div class="ui-grid-a">
					<div id="s_dareg" class="ui-block-a"><p class="dt">
						</p></div>
					<div id="s_uareg" class="ui-block-b"><p class="dt">
						</p></div>
				</div>
				</div>
				<div class="ui-block-b">
					<a id="btn_streg" href="" data-role="button" 
					 data-icon="arrow-r">Check In</a>
				</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a">
				<div class="ui-grid-a">
					<div id="s_dalbg" class="ui-block-a"><p class="dt">
						</p></div>
					<div id="s_ualbg" class="ui-block-b"><p class="dt">
						</p></div>
				</div>
				</div>
				<div class="ui-block-b">
					<a id="btn_stlbg" href="" data-role="button"
					data-icon="arrow-r">Load Start</a>
				</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a">
				<div class="ui-grid-a">
					<div id="s_dalen" class="ui-block-a"><p class="dt">
						</p></div>
					<div id="s_ualen" class="ui-block-b"><p class="dt">
						</p></div>
				</div>
				</div>
				<div class="ui-block-b">
					<a id="btn_stlad" href="" data-role="button"
					data-icon="arrow-r">Load End</a>
				</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a">
				<div class="ui-grid-a">
					<div id="s_dtabf" class="ui-block-a"><p class="dt">
						</p></div>
					<div id="s_uzabf" class="ui-block-b"><p class="dt">
						</p></div>
				</div>
				</div>
				<div class="ui-block-b">
					<a id="btn_stabf" href="" data-role="button"
					data-icon="arrow-r">Complete</a>
				</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a">
				<div class="ui-grid-a">
					<div id="s_datbg" class="ui-block-a"><p class="dt">
						</p></div>
					<div id="s_uatbg" class="ui-block-b"><p class="dt">
						</p></div>
				</div>
				</div>
				<div class="ui-block-b">
					<a id="btn_sttbg" href="" data-role="button"
					data-icon="arrow-r">Start</a>
				</div>
			</div>
		</li>
		<li>
			<div class="ui-grid-a">
				<div class="ui-block-a">
				<div class="ui-grid-a">
					<div id="s_daten" class="ui-block-a"><p class="dt">
						</p></div>
					<div id="s_uaten" class="ui-block-b"><p class="dt">
						</p></div>
				</div>
				</div>
				<div class="ui-block-b">
					<a id="btn_stten" href="" data-role="button"
					data-icon="arrow-r">End</a>
				</div>
			</div>
		</li>
     </ul>
   </div>  
   
</div>
