{% extends "../base.html" %}

{% block content %}
<div class="productsection">
<h3>SAP Mobile Applications based on HTML5</h3>

<p>The prototype applications below result from a project with the goal of developing mobile applications for SAP using business server pages on the SAP server together with HTML5 mobile toolkit jQueryMobile. This combination proved to be a very good solution for fast development of SAP business apps that work in most mobile devices.</p>

<p>The first demo is for an app that monitors and updates the status of shipment documents.</p> 

<p>To see the demo open the url <a href="http://labs.cognitiva.com/sapmobile">labs.cognitiva.com/sapmobile</a> in a mobile device, or use the QR code below to open that page.

<p><img src="/static/sapmobile/sap_mobile_qr_code.png"></p>

</div>

{% end %}