<html lang="en">
   <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>SAP Mobile Apps</title>

   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc3/jquery.mobile-1.0rc3.min.css" />

   <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
   <script src="http://cogni.bitbucket.org/mobiweaver/jquery.mobile-1.0.mobiweaver.js"></script>
</head>
<body>
	
	<div data-role="page" data-add-back-btn="true" id="selectionPage">
	<div data-role="header">
	<h1>Mobile Apps</h1>
	</div>

	<div data-role="content">
	<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="a">
	
	<li><a href="/sap/bc/bsp/sap/ymwbatchinfo/index.html" data-ajax="false">Batch Monitor</a></li>
	<li><a href="/sap/bc/bsp/sap/ymwdataview/index.html" data-ajax="false">Data View</a></li>
	<li><a href="/sap/bc/bsp/sap/ymwdocflow/index.html" data-ajax="false">Document Flow</a></li>
	<li><a href="/sap/bc/bsp/sap/ymwdemoship/home.do" data-ajax="false">Shipment Control</a></li>
	
	</ul>
	</div>

	</div>

</body>
</html>